* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"] {
  width: 100%;
}

body {
  font-family: 'Dancing Script', cursive;
}

header>nav {
  background-color: #ffe9c0 !important;
  width: 100%;
}

header {
  background-color: white;
}

img {
  width: 100%;
  height: 100%;
}

i.coment {
  font-size: 35px
}

.padding {
  background-color: #f0f0f0;
  padding: 20px;

}

.padding-2 {
  background-color: #bddcea;

}
.no-margin{
    margin: 0;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.logo-img {
  width: 120px;
  height: 100px;
}

.redes-sociales>a>img.img-social {
  width: 35px !important;
  height: 35px !important;
}

/*[class*="col-"] {
  min-height: 100px;
}*/

.section {
  padding: 25px;
}
