* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"] {
  width: 100%;
}

body {
  font-family: 'Dancing Script', cursive;
}

body.background {
  background-image: url('../img/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

header>nav {
  background-color: #ffe9c0 !important;
  width: 100%;
}

header {
  background-color: white;
}

img {
  width: 100%;
  height: 100%;
}

.card {
  background-color: #f5f5dc94 !important;
}

.callout {
  background-color: #f5f5dc94 !important;
}

.titulo {
  font-family: monospace;
  font-weight: 600;
  font-variant: small-caps;
  text-decoration: underline;
}

.subtitulo {
  font-style: italic;
}

i.coment {
  font-size: 35px
}

.hollow {
  border: 1px solid #17c9dca1;
  background-color: #cbe7eaa1 !important;
  border-radius: 115px;
}

.hollow2 {
  border-top: 1px solid #d917dc57;
  border-bottom: 1px solid #d917dc57;

}
.hollow2 > a {
  color: #b717ba !important;
}


.flex {
  display: flex !important;
  flex-flow: row !important;
}

.row {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  max-width: 82.5rem;
}

.padding {
  padding: 20px;
}

.padding-2 {
  background-color: #bddcea;
}

.no-margin {
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.redes-sociales>a>img.img-social {
  width: 35px !important;
  height: 35px !important;
}

/*[class*="col-"] {
  min-height: 100px;
}*/
.pista {
  border-bottom: white solid 1px;
}

.section {
  padding: 15px;
}
