* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: red;
  font-family: 'Dancing Script', cursive;
}

header>nav {
  background-color: #ffe9c0 !important;
  width: 100%;
}

header {
  background-color: white;
}

img {
  width: 100%;
  height: 100%;
}
i{font-size:35px}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.logo-img {
  width: 120px;
  height: 100px;
}

.redes-sociales>.img-social {
  width: 35px !important;
  height: 35px !important;
}

[class*="col-"] {
  min-height: 100px;
}

.section {
  padding: 25px;
}
